.DS_Store
Example/tmp.swift
test.jpeg
UserInterfaceState.xcuserstate

.DS_Store
Build
Video
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.build
